.moving-slide{
               text-align: center;
               color: #fff;
               background-color: #c9ac6a;
               margin-bottom: 0;
               font-size: 14px;
               font-weight: 600;
               height: 35px;
               padding-top: 7px;

         
            }
        
        .navbar
			{
			   background-color: #b22137;
			   padding: 0;
			}
		.navbar-brand img
			{
				height: 40px;
				padding-left: 20px;
				border-radius: 65%;
			}

		.navbar-toggler
			{
				outline: none !important;			
		    }	

		.fa-bars
			{
				color: #fff;
				font-size: 30px !important;
			}  
			 
		.navbar-nav li
			{
				padding: 0 10px;
			}
		.navbar-nav li a
			{
				color: #fff!important;
				font-weight: 600;
				float: left;
				text-align: left;

			}
			 li a:hover{
				color: red;
			}
            .slide{
            	padding-right: 0px;
            	padding-left: 0px;
            	padding-top: 10px;
            }
			.b{
			 background-image:linear-gradient(to right,#fff,#ff9800);
			 margin-top: 20px;
			}

			.img{
				border-radius: 50%;
				padding-top: 10px;
				
			}
			.paragraph{
				        word-spacing: 2px;
                padding-top: 25px;
                padding-left: 25px;
                padding-right: 25px;
                text-align: center;
                font-family: 'Dancing Script', cursive;
			}
            .c{
            	background-image:linear-gradient(to right,#fff,#ff9800);
            	margin-top: 2px;
            }
			.img1{
				width: 100%;
				height: 600px;
				border-radius: 25%;
				margin-top: 15px;
			}
             .creamy{
             	text-align: center;
             	text-shadow: 3px 2px 5px red;
             	font-family: 'Dancing Script', cursive;
             }
			.containt{
				text-align: justify;
				font-family: 'Lobster', cursive;
				margin-top: 15px;
			}

			.btn{
				background-color: #d4b1bf;
				color: #fff !important;
				border: none;
				margin-top: 35px;
				margin-bottom: 15px;
        border-radius: 20px;
			}

			.heading{
			color: #fbbd06;
			margin-top: 25px;
			font-family: 'Permanent Marker', cursive;
      text-shadow: 5px 7px 5px #8e0f06;
   
			}

      .heading2{
        text-shadow: 5px 7px 5px #8e1106;
        font-family: 'Dancing Script', cursive;
      }

			.img2{
				padding-top: 20px;
				box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			}

			.img3{

          box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		      width: 100%;
          height: 205px;
          margin-top: 25px;
          margin-bottom: 25px;
		    } 
           

           .y-background{

            padding-top: 50px;
            padding-bottom: 50px;
            overflow: auto;
            background-image:linear-gradient(to right,#bb4f4d,#ff9800);
            box-sizing: border-box;
            display: block;
            float: left;
            width: 100%;
            clear: both;
         }

        .full{
        	width: 100%;
         }

        .small{
     	    color: #262020;
            font-size: 14px;
            margin-bottom: 4px;
         }
        .email{
     	
            background: #f1f1f1;
            border-style: none;
            border-radius: 14px;
            font-family: 'Catamaran';
            font-size: 17px;
            padding: 4px;
            position: relative;
            text-indent: 8px;
            width: 30%;
            border-style: hidden;
         }
   
        .clear{
     	    display: inline-block;
         }
       .submit{
     	    background: #f4768a;
            border-radius: 50px;
            color: #ffffff;
            border-style: none;
            display: inline-block;
            font-size: 17px;
            font-family: 'Dosis', sans-serif;
            line-height: 1px;
            padding: 18px 25px;
            text-align: center;
            vertical-align: middle;
       	}   

       .mainfooter{
            background-image:linear-gradient(to right,#bb4f4d,#ff9800);
            padding: 50px;
            color: #fff;
          }
        .F1{
            font-family: 'prague';
            font-size: 45px;
            line-height: 50px;
            letter-spacing: 3px;
            color: #fff;


          }
     
        .y{
            color: #3b161e;
          }

        .z{
        	color: #fff;
          }

        .foot-add{
            padding: 15px;
          }
      
        .icon{

            width: 40px;
            color: #3b161e;
            font-size: 2em;

          }


		.policy{
      	    background-image:linear-gradient(to right,#bb4f4d,#ff9800);
            padding-top: 30px;
            padding-bottom: 30px;
            margin-top: 1px;
          }

        .d{
      	    font-size: 13px;
            color: white;
            margin-top: 0px;
            margin-bottom: 0rem;
          }