       .moving-slide{
               text-align: center;
               color: #fff;
               background-color: #c9ac6a;
               margin-bottom: 0;
               font-size: 14px;
               font-weight: 600;
               height: 35px;
               padding-top: 7px;
         
            }

       .navbar
			{
			   background-color: #b22137;
			   padding: 0;
			}

		.navbar-brand img
			{
				height: 40px;
				padding-left: 20px;
				border-radius: 65%;
			}            

		.navbar-toggler
			{
				outline: none !important;			
		    }	

		.fa-bars
			{
				color: #fff;
				font-size: 30px !important;
			}  
			 
		.navbar-nav li
			{
				padding: 0 10px;
			}
		.navbar-nav li a
			{
				color: #fff!important;
				font-weight: 600;
				float: left;
				text-align: left;

			}
			 li a:hover{
				color: red;
			}

		.btn{
               color: #fff!important;
               font-weight: 600;
               font-size: 15px;
               background-color: orange;
               margin-right: 20px;
            }		

        .slide{
            	padding-right: 0px;
            	padding-left: 0px;
            	padding-top: 10px;
            }    

        .heading{
                font-family: 'Sansita Swashed', cursive;
                color: #dac03f;
                text-shadow: 5px 7px 5px #3e2d2b;
        }  

        .paragraph{
                 font-family: 'Yellowtail', cursive;
                 line-height: 35px;
                 text-align: justify;
        }

        .img{
        	width: 100%;
        	border-radius: 50%;
        	padding-top: 10px;
        	padding-bottom: 10px;
        }

        .circle-img{
        	width: 100%;
        	border-radius: 50%;
        	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
           }    

        .heading2{
                color: #28d813;
                text-shadow: 5px 7px 5px #3e2d2b;
                font-family: 'Pacifico', cursive;
                margin-top: 30px;
            }

         .heading3{
              text-shadow: 8px 6px 3px #cec28e;
              font-family: 'Dancing Script', cursive;
            } 

         .y-background{

            padding-top: 50px;
            padding-bottom: 50px;
            overflow: auto;
            background-image:linear-gradient(to right,#bb4f4d,#ff9800);
            box-sizing: border-box;
            display: block;
            float: left;
            width: 100%;
            clear: both;
         }

        .full{
        	width: 100%;
         }

        .small{
     	    color: #262020;
            font-size: 14px;
            margin-bottom: 4px;
         }
        .email{
     	
            background: #f1f1f1;
            border-style: none;
            border-radius: 14px;
            font-family: 'Catamaran';
            font-size: 17px;
            padding: 4px;
            position: relative;
            text-indent: 8px;
            width: 30%;
            border-style: hidden;
         }
   
        .clear{
     	    display: inline-block;
         }
       .submit{
     	    background: #f4768a;
            border-radius: 50px;
            color: #ffffff;
            border-style: none;
            display: inline-block;
            font-size: 17px;
            font-family: 'Dosis', sans-serif;
            line-height: 1px;
            padding: 18px 25px;
            text-align: center;
            vertical-align: middle;
       	}   

       .mainfooter{
            background-image:linear-gradient(to right,#bb4f4d,#ff9800);
            padding: 50px;
            color: #fff;
          }
        .F1{
            font-family: 'prague';
            font-size: 45px;
            line-height: 50px;
            letter-spacing: 3px;
            color: #fff;


          }
     
        .y{
            color: #3b161e;
          }

        .z{
        	color: #fff;
          }

        .foot-add{
            padding: 15px;
          }
      
        .icon{

            width: 40px;
            color: #3b161e;
            font-size: 2em;

          }


		.policy{
      	    background-image:linear-gradient(to right,#bb4f4d,#ff9800);
            padding-top: 30px;
            padding-bottom: 30px;
            margin-top: 1px;
          }

        .d{
      	    font-size: 13px;
            color: white;
            margin-top: 0px;
            margin-bottom: 0rem;
          }      